<manifest package="com.tikt.selectphotos"
          xmlns:android="http://schemas.android.com/apk/res/android">

    <application android:allowBackup="true"
                 android:label="@string/app_name"
                 android:supportsRtl="true"
    >

        <activity android:name=".SelectPhotoActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/MySelectPhotoTheme"/>
        <activity android:name=".ShowBigPhotoActivity"
                  android:screenOrientation="portrait"
                  android:theme="@style/MySelectPhotoTheme"/>
    </application>


</manifest>
